<section class="bench-home-nav">
    <a class="home-nav_logo-link" href="/">
        <img src="{{asset "images/FullBenchLogoFeb2020.png"}}" alt="" class="home-nav_logo">
    </a>
    <div class="nav-right">
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
        <a href="#contact">
            <button class="home-nav_cta hollow">
                Start a Conversation
            </button>
        </a>
    </div>
</section>