<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bench Consulting</title>
    {{> "site-wide-meta"}}
</head>
{{> "site-nav"}}
<div class="post-feed">
    <h1 class="blog-title">Bench Places Blog</h1>
    {{#get "posts"}}
        {{#foreach posts}}
            {{> post-card}}
        {{/foreach}}
    {{/get}}
</div>
{{> "contact-form"}}
{{> "footer"}}