<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bench Consulting</title>
    {{> "site-wide-meta"}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{> "site-nav"}}
    {{{body}}}
    {{ghost_foot}}
    {{> "footer"}}
</body>
</html>
